USE [CSSFlixDizi21DB]
GO
/****** Object:  Table [dbo].[Diller]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diller](
	[DilId] [smallint] IDENTITY(1,1) NOT NULL,
	[DilAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diller] PRIMARY KEY CLUSTERED 
(
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiziBolumlerAltyaziDiller]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiziBolumlerAltyaziDiller](
	[DiziBolumId] [int] NOT NULL,
	[DilId] [smallint] NOT NULL,
	[AltyaziUrl] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DiziBolumlerAltyaziDiller] PRIMARY KEY CLUSTERED 
(
	[DiziBolumId] ASC,
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiziBolumleri]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiziBolumleri](
	[DiziBolumId] [int] IDENTITY(1,1) NOT NULL,
	[DiziId] [int] NOT NULL,
	[IlkYayinlanmaTarihi] [date] NOT NULL,
	[KacinciSezon] [tinyint] NOT NULL,
	[KacinciBolum] [smallint] NOT NULL,
	[DiziBolumAdi] [nvarchar](50) NOT NULL,
	[DiziBolumSuresi] [time](0) NOT NULL,
	[DiziBolumFragmaniUrl] [varchar](100) NOT NULL,
	[DiziBolumVideoUrl] [varchar](100) NOT NULL,
	[PlatformdaYayinlanmaTarihi] [date] NOT NULL,
	[PlatformdaKaldirilmaTarihi] [date] NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_DiziBolumleri] PRIMARY KEY CLUSTERED 
(
	[DiziBolumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiziBolumleriKisiler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiziBolumleriKisiler](
	[DiziBolumleriKisiId] [int] IDENTITY(1,1) NOT NULL,
	[DiziBolumId] [int] NOT NULL,
	[KisiId] [int] NOT NULL,
	[UnvanId] [tinyint] NOT NULL,
 CONSTRAINT [PK_DiziBolumleriKisiler] PRIMARY KEY CLUSTERED 
(
	[DiziBolumleriKisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiziBolumlerSesDiller]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiziBolumlerSesDiller](
	[DiziBolumId] [int] NOT NULL,
	[DilId] [smallint] NOT NULL,
	[DiziSesUrl] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DiziBolumlerSesDiler] PRIMARY KEY CLUSTERED 
(
	[DiziBolumId] ASC,
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiziKategoriler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiziKategoriler](
	[DiziId] [int] NOT NULL,
	[KategoriId] [tinyint] NOT NULL,
 CONSTRAINT [PK_DiziKategoriler] PRIMARY KEY CLUSTERED 
(
	[DiziId] ASC,
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diziler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diziler](
	[DiziId] [int] IDENTITY(1,1) NOT NULL,
	[DiziAdi] [nvarchar](50) NOT NULL,
	[DiziOzeti] [nvarchar](200) NOT NULL,
	[DiziKapakResimiUrl] [varchar](100) NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_Diziler] PRIMARY KEY CLUSTERED 
(
	[DiziId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiziYapimSirketleri]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiziYapimSirketleri](
	[DiziId] [int] NOT NULL,
	[YapimSirketiId] [smallint] NOT NULL,
 CONSTRAINT [PK_DiziBolumYapimSirketleri] PRIMARY KEY CLUSTERED 
(
	[DiziId] ASC,
	[YapimSirketiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[KisiId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kisiler] PRIMARY KEY CLUSTERED 
(
	[KisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenseiUlkeler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenseiUlkeler](
	[DiziId] [int] NOT NULL,
	[UlkeId] [tinyint] NOT NULL,
 CONSTRAINT [PK_MenseiUlkeler] PRIMARY KEY CLUSTERED 
(
	[DiziId] ASC,
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulkeler]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulkeler](
	[UlkeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UlkeAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ulkeler] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unvanlar]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unvanlar](
	[UnvanId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UnvanAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unvanlar] PRIMARY KEY CLUSTERED 
(
	[UnvanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YapimSirketleri]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YapimSirketleri](
	[YapimSirketiId] [smallint] IDENTITY(1,1) NOT NULL,
	[YapımŞirketAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_YapimSirketleri] PRIMARY KEY CLUSTERED 
(
	[YapimSirketiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YayinlananUlkelerDiziBolumleri]    Script Date: 21.03.2022 13:33:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YayinlananUlkelerDiziBolumleri](
	[UlkeId] [tinyint] NOT NULL,
	[DiziBolumId] [int] NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_YayinlananUlkelerDiziBolumleri] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC,
	[DiziBolumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diller] ON 

INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (1, N'English (USA)')
INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (2, N'Deutsch')
INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (3, N'España (ARJ)')
SET IDENTITY_INSERT [dbo].[Diller] OFF
GO
INSERT [dbo].[DiziBolumlerAltyaziDiller] ([DiziBolumId], [DilId], [AltyaziUrl]) VALUES (1, 1, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[DiziBolumlerAltyaziDiller] ([DiziBolumId], [DilId], [AltyaziUrl]) VALUES (1, 2, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[DiziBolumlerAltyaziDiller] ([DiziBolumId], [DilId], [AltyaziUrl]) VALUES (1, 3, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
GO
SET IDENTITY_INSERT [dbo].[DiziBolumleri] ON 

INSERT [dbo].[DiziBolumleri] ([DiziBolumId], [DiziId], [IlkYayinlanmaTarihi], [KacinciSezon], [KacinciBolum], [DiziBolumAdi], [DiziBolumSuresi], [DiziBolumFragmaniUrl], [DiziBolumVideoUrl], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (1, 1, CAST(N'2020-09-28' AS Date), 1, 1, N'Bolum Adi', CAST(N'01:00:00' AS Time), N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', CAST(N'2021-04-23' AS Date), NULL, 1)
INSERT [dbo].[DiziBolumleri] ([DiziBolumId], [DiziId], [IlkYayinlanmaTarihi], [KacinciSezon], [KacinciBolum], [DiziBolumAdi], [DiziBolumSuresi], [DiziBolumFragmaniUrl], [DiziBolumVideoUrl], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (2, 1, CAST(N'2020-07-16' AS Date), 1, 2, N'Bolum Adi', CAST(N'01:00:00' AS Time), N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', CAST(N'2021-07-10' AS Date), NULL, 1)
INSERT [dbo].[DiziBolumleri] ([DiziBolumId], [DiziId], [IlkYayinlanmaTarihi], [KacinciSezon], [KacinciBolum], [DiziBolumAdi], [DiziBolumSuresi], [DiziBolumFragmaniUrl], [DiziBolumVideoUrl], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (3, 1, CAST(N'2020-08-22' AS Date), 1, 3, N'Bolum Adi', CAST(N'01:00:00' AS Time), N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', CAST(N'2021-07-15' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[DiziBolumleri] OFF
GO
SET IDENTITY_INSERT [dbo].[DiziBolumleriKisiler] ON 

INSERT [dbo].[DiziBolumleriKisiler] ([DiziBolumleriKisiId], [DiziBolumId], [KisiId], [UnvanId]) VALUES (1, 1, 10, 1)
INSERT [dbo].[DiziBolumleriKisiler] ([DiziBolumleriKisiId], [DiziBolumId], [KisiId], [UnvanId]) VALUES (2, 1, 20, 1)
INSERT [dbo].[DiziBolumleriKisiler] ([DiziBolumleriKisiId], [DiziBolumId], [KisiId], [UnvanId]) VALUES (3, 1, 30, 1)
GO
SET IDENTITY_INSERT [dbo].[DiziBolumleriKisiler] OFF
GO
INSERT [dbo].[DiziBolumlerSesDiller] ([DiziBolumId], [DilId], [DiziSesUrl]) VALUES (1, 1, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[DiziBolumlerSesDiller] ([DiziBolumId], [DilId], [DiziSesUrl]) VALUES (1, 2, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[DiziBolumlerSesDiller] ([DiziBolumId], [DilId], [DiziSesUrl]) VALUES (1, 3, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
GO
INSERT [dbo].[DiziKategoriler] ([DiziId], [KategoriId]) VALUES (1, 4)
INSERT [dbo].[DiziKategoriler] ([DiziId], [KategoriId]) VALUES (2, 5)
INSERT [dbo].[DiziKategoriler] ([DiziId], [KategoriId]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[Diziler] ON 

INSERT [dbo].[Diziler] ([DiziId], [DiziAdi], [DiziOzeti], [DiziKapakResimiUrl], [Durum]) VALUES (1, N'Family Guy', N'Dizi Ozeti', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', 1)
INSERT [dbo].[Diziler] ([DiziId], [DiziAdi], [DiziOzeti], [DiziKapakResimiUrl], [Durum]) VALUES (2, N'Simpsons', N'Dizi Ozeti', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', 1)
INSERT [dbo].[Diziler] ([DiziId], [DiziAdi], [DiziOzeti], [DiziKapakResimiUrl], [Durum]) VALUES (3, N'South Park', N'Dizi Ozeti', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', 1)
SET IDENTITY_INSERT [dbo].[Diziler] OFF
GO
INSERT [dbo].[DiziYapimSirketleri] ([DiziId], [YapimSirketiId]) VALUES (1, 3)
INSERT [dbo].[DiziYapimSirketleri] ([DiziId], [YapimSirketiId]) VALUES (1, 4)
INSERT [dbo].[DiziYapimSirketleri] ([DiziId], [YapimSirketiId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (1, N'Aksiyon')
INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (2, N'Komedi')
INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (3, N'Fantezi')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kisiler] ON 

INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (1, N'Gayleen', N'McCotter')
INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (2, N'Owen', N'Vakhrushev')
INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (3, N'Dori', N'Treleaven')
GO
SET IDENTITY_INSERT [dbo].[Kisiler] OFF
GO
INSERT [dbo].[MenseiUlkeler] ([DiziId], [UlkeId]) VALUES (1, 15)
INSERT [dbo].[MenseiUlkeler] ([DiziId], [UlkeId]) VALUES (2, 1)
INSERT [dbo].[MenseiUlkeler] ([DiziId], [UlkeId]) VALUES (2, 10)
GO
SET IDENTITY_INSERT [dbo].[Ulkeler] ON 

INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (1, N'ABD')
INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (2, N'Almanya')
INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (3, N'Arjantin')
SET IDENTITY_INSERT [dbo].[Ulkeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Unvanlar] ON 

INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (1, N'Oyunucu')
INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (2, N'Yonetmen')
INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (3, N'Senarist')
SET IDENTITY_INSERT [dbo].[Unvanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[YapimSirketleri] ON 

INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımŞirketAdi]) VALUES (1, N'CSSFlix')
INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımŞirketAdi]) VALUES (2, N'WB')
INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımŞirketAdi]) VALUES (3, N'DreamWorks')
SET IDENTITY_INSERT [dbo].[YapimSirketleri] OFF
GO
INSERT [dbo].[YayinlananUlkelerDiziBolumleri] ([UlkeId], [DiziBolumId], [Durum]) VALUES (1, 1, 1)
INSERT [dbo].[YayinlananUlkelerDiziBolumleri] ([UlkeId], [DiziBolumId], [Durum]) VALUES (1, 2, 1)
INSERT [dbo].[YayinlananUlkelerDiziBolumleri] ([UlkeId], [DiziBolumId], [Durum]) VALUES (1, 3, 1)
GO
ALTER TABLE [dbo].[DiziBolumleri] ADD  CONSTRAINT [DF_DiziBolumleri_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Diziler] ADD  CONSTRAINT [DF_Diziler_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[YayinlananUlkelerDiziBolumleri] ADD  CONSTRAINT [DF_YayinlananUlkelerDiziBolumleri_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[DiziBolumlerAltyaziDiller]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumlerAltyaziDiller_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[Diller] ([DilId])
GO
ALTER TABLE [dbo].[DiziBolumlerAltyaziDiller] CHECK CONSTRAINT [FK_DiziBolumlerAltyaziDiller_Diller]
GO
ALTER TABLE [dbo].[DiziBolumlerAltyaziDiller]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumlerAltyaziDiller_DiziBolumleri] FOREIGN KEY([DiziBolumId])
REFERENCES [dbo].[DiziBolumleri] ([DiziBolumId])
GO
ALTER TABLE [dbo].[DiziBolumlerAltyaziDiller] CHECK CONSTRAINT [FK_DiziBolumlerAltyaziDiller_DiziBolumleri]
GO
ALTER TABLE [dbo].[DiziBolumleri]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumleri_Diziler] FOREIGN KEY([DiziId])
REFERENCES [dbo].[Diziler] ([DiziId])
GO
ALTER TABLE [dbo].[DiziBolumleri] CHECK CONSTRAINT [FK_DiziBolumleri_Diziler]
GO
ALTER TABLE [dbo].[DiziBolumleriKisiler]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumleriKisiler_DiziBolumleri] FOREIGN KEY([DiziBolumId])
REFERENCES [dbo].[DiziBolumleri] ([DiziBolumId])
GO
ALTER TABLE [dbo].[DiziBolumleriKisiler] CHECK CONSTRAINT [FK_DiziBolumleriKisiler_DiziBolumleri]
GO
ALTER TABLE [dbo].[DiziBolumleriKisiler]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumleriKisiler_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[DiziBolumleriKisiler] CHECK CONSTRAINT [FK_DiziBolumleriKisiler_Kisiler]
GO
ALTER TABLE [dbo].[DiziBolumleriKisiler]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumleriKisiler_Unvanlar] FOREIGN KEY([UnvanId])
REFERENCES [dbo].[Unvanlar] ([UnvanId])
GO
ALTER TABLE [dbo].[DiziBolumleriKisiler] CHECK CONSTRAINT [FK_DiziBolumleriKisiler_Unvanlar]
GO
ALTER TABLE [dbo].[DiziBolumlerSesDiller]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumlerSesDiler_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[Diller] ([DilId])
GO
ALTER TABLE [dbo].[DiziBolumlerSesDiller] CHECK CONSTRAINT [FK_DiziBolumlerSesDiler_Diller]
GO
ALTER TABLE [dbo].[DiziBolumlerSesDiller]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumlerSesDiler_DiziBolumleri] FOREIGN KEY([DiziBolumId])
REFERENCES [dbo].[DiziBolumleri] ([DiziBolumId])
GO
ALTER TABLE [dbo].[DiziBolumlerSesDiller] CHECK CONSTRAINT [FK_DiziBolumlerSesDiler_DiziBolumleri]
GO
ALTER TABLE [dbo].[DiziKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_DiziKategoriler_Diziler] FOREIGN KEY([DiziId])
REFERENCES [dbo].[Diziler] ([DiziId])
GO
ALTER TABLE [dbo].[DiziKategoriler] CHECK CONSTRAINT [FK_DiziKategoriler_Diziler]
GO
ALTER TABLE [dbo].[DiziKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_DiziKategoriler_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[DiziKategoriler] CHECK CONSTRAINT [FK_DiziKategoriler_Kategoriler]
GO
ALTER TABLE [dbo].[DiziYapimSirketleri]  WITH CHECK ADD  CONSTRAINT [FK_DiziBolumYapimSirketleri_YapimSirketleri] FOREIGN KEY([YapimSirketiId])
REFERENCES [dbo].[YapimSirketleri] ([YapimSirketiId])
GO
ALTER TABLE [dbo].[DiziYapimSirketleri] CHECK CONSTRAINT [FK_DiziBolumYapimSirketleri_YapimSirketleri]
GO
ALTER TABLE [dbo].[DiziYapimSirketleri]  WITH CHECK ADD  CONSTRAINT [FK_DiziYapimSirketleri_Diziler] FOREIGN KEY([DiziId])
REFERENCES [dbo].[Diziler] ([DiziId])
GO
ALTER TABLE [dbo].[DiziYapimSirketleri] CHECK CONSTRAINT [FK_DiziYapimSirketleri_Diziler]
GO
ALTER TABLE [dbo].[MenseiUlkeler]  WITH CHECK ADD  CONSTRAINT [FK_MenseiUlkeler_Diziler] FOREIGN KEY([DiziId])
REFERENCES [dbo].[Diziler] ([DiziId])
GO
ALTER TABLE [dbo].[MenseiUlkeler] CHECK CONSTRAINT [FK_MenseiUlkeler_Diziler]
GO
ALTER TABLE [dbo].[MenseiUlkeler]  WITH CHECK ADD  CONSTRAINT [FK_MenseiUlkeler_Ulkeler] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulkeler] ([UlkeId])
GO
ALTER TABLE [dbo].[MenseiUlkeler] CHECK CONSTRAINT [FK_MenseiUlkeler_Ulkeler]
GO
ALTER TABLE [dbo].[YayinlananUlkelerDiziBolumleri]  WITH CHECK ADD  CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_DiziBolumleri] FOREIGN KEY([DiziBolumId])
REFERENCES [dbo].[DiziBolumleri] ([DiziBolumId])
GO
ALTER TABLE [dbo].[YayinlananUlkelerDiziBolumleri] CHECK CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_DiziBolumleri]
GO
ALTER TABLE [dbo].[YayinlananUlkelerDiziBolumleri]  WITH CHECK ADD  CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_Ulkeler] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulkeler] ([UlkeId])
GO
ALTER TABLE [dbo].[YayinlananUlkelerDiziBolumleri] CHECK CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_Ulkeler]
GO
