USE [CSSFlixFilmDB21]
GO
/****** Object:  Table [dbo].[AltyaziDiller]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltyaziDiller](
	[FilmID] [int] NOT NULL,
	[DilId] [smallint] NOT NULL,
	[FilmAltyaziUrl] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AltyaziDiller] PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC,
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diller]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diller](
	[DilId] [smallint] IDENTITY(1,1) NOT NULL,
	[DilAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diller] PRIMARY KEY CLUSTERED 
(
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmKategoriler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmKategoriler](
	[FilmId] [int] NOT NULL,
	[KategoriId] [tinyint] NOT NULL,
 CONSTRAINT [PK_FimKategoriler] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmKisiler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmKisiler](
	[FilmKisiId] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NOT NULL,
	[KisiId] [int] NOT NULL,
	[UnvanId] [tinyint] NOT NULL,
 CONSTRAINT [PK_FilmKisiler] PRIMARY KEY CLUSTERED 
(
	[FilmKisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filmler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[FilmAdi] [nvarchar](50) NOT NULL,
	[IlkYayinlanmaTarihi] [date] NOT NULL,
	[Suresi] [time](0) NOT NULL,
	[FilmKapakResmiUrl] [varchar](100) NOT NULL,
	[FilmFragmanUrl] [varchar](100) NOT NULL,
	[FilmVideoUrl] [varchar](100) NOT NULL,
	[FilmOzet] [nvarchar](200) NOT NULL,
	[PlatformdaYayinlanmaTarihi] [date] NOT NULL,
	[PlatformdaKaldirilmaTarihi] [date] NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_Filmler] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmlerYapimSirketleri]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmlerYapimSirketleri](
	[FilmId] [int] NOT NULL,
	[YapimSirketiId] [smallint] NOT NULL,
 CONSTRAINT [PK_IceriklerYapimSirketleri] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[YapimSirketiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[KisiId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kisiler] PRIMARY KEY CLUSTERED 
(
	[KisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenseiUlkeler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenseiUlkeler](
	[FilmId] [int] NOT NULL,
	[UlkeId] [tinyint] NOT NULL,
 CONSTRAINT [PK_MenseiUlkeler] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SesDiller]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SesDiller](
	[FilmId] [int] NOT NULL,
	[DilId] [smallint] NOT NULL,
	[FilmSesUrl] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DublajDiller] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulkeler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulkeler](
	[UlkeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UlkeAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ulkeler] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unvanlar]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unvanlar](
	[UnvanId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UnvanAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unvanlar] PRIMARY KEY CLUSTERED 
(
	[UnvanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YapimSirketleri]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YapimSirketleri](
	[YapimSirketiId] [smallint] IDENTITY(1,1) NOT NULL,
	[YapımSirketAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_YapimSirketleri] PRIMARY KEY CLUSTERED 
(
	[YapimSirketiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YayinlananUlkelerFilmler]    Script Date: 21.03.2022 13:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YayinlananUlkelerFilmler](
	[UlkelerId] [tinyint] NOT NULL,
	[FilmId] [int] NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_YayinlananUlkelerFilmler] PRIMARY KEY CLUSTERED 
(
	[UlkelerId] ASC,
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AltyaziDiller] ([FilmID], [DilId], [FilmAltyaziUrl]) VALUES (1, 1, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[AltyaziDiller] ([FilmID], [DilId], [FilmAltyaziUrl]) VALUES (1, 2, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[AltyaziDiller] ([FilmID], [DilId], [FilmAltyaziUrl]) VALUES (1, 3, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
GO
SET IDENTITY_INSERT [dbo].[Diller] ON 

INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (1, N'English (USA)')
INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (2, N'Deutsch')
INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (3, N'España (ARJ)')
SET IDENTITY_INSERT [dbo].[Diller] OFF
GO
INSERT [dbo].[FilmKategoriler] ([FilmId], [KategoriId]) VALUES (1, 1)
INSERT [dbo].[FilmKategoriler] ([FilmId], [KategoriId]) VALUES (1, 5)
INSERT [dbo].[FilmKategoriler] ([FilmId], [KategoriId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[FilmKisiler] ON 

INSERT [dbo].[FilmKisiler] ([FilmKisiId], [FilmID], [KisiId], [UnvanId]) VALUES (1, 1, 72, 1)
INSERT [dbo].[FilmKisiler] ([FilmKisiId], [FilmID], [KisiId], [UnvanId]) VALUES (2, 1, 35, 1)
INSERT [dbo].[FilmKisiler] ([FilmKisiId], [FilmID], [KisiId], [UnvanId]) VALUES (3, 1, 82, 1)
GO
SET IDENTITY_INSERT [dbo].[FilmKisiler] OFF
GO
SET IDENTITY_INSERT [dbo].[Filmler] ON 

INSERT [dbo].[Filmler] ([FilmId], [FilmAdi], [IlkYayinlanmaTarihi], [Suresi], [FilmKapakResmiUrl], [FilmFragmanUrl], [FilmVideoUrl], [FilmOzet], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (1, N'Terminator', CAST(N'2020-09-28' AS Date), CAST(N'02:00:00' AS Time), N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'Film Ozeti', CAST(N'2021-04-23' AS Date), NULL, 1)
INSERT [dbo].[Filmler] ([FilmId], [FilmAdi], [IlkYayinlanmaTarihi], [Suresi], [FilmKapakResmiUrl], [FilmFragmanUrl], [FilmVideoUrl], [FilmOzet], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (2, N'Terminator 2', CAST(N'2020-07-16' AS Date), CAST(N'02:00:00' AS Time), N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'Film Ozeti', CAST(N'2021-07-10' AS Date), NULL, 1)
INSERT [dbo].[Filmler] ([FilmId], [FilmAdi], [IlkYayinlanmaTarihi], [Suresi], [FilmKapakResmiUrl], [FilmFragmanUrl], [FilmVideoUrl], [FilmOzet], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (3, N'Terminator 3', CAST(N'2020-08-22' AS Date), CAST(N'02:10:00' AS Time), N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'https://www.youtube.com/watch?v=ndG8gWsHWzM', N'Film Ozeti', CAST(N'2021-07-15' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Filmler] OFF
GO
INSERT [dbo].[FilmlerYapimSirketleri] ([FilmId], [YapimSirketiId]) VALUES (1, 1)
INSERT [dbo].[FilmlerYapimSirketleri] ([FilmId], [YapimSirketiId]) VALUES (2, 4)
INSERT [dbo].[FilmlerYapimSirketleri] ([FilmId], [YapimSirketiId]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (1, N'Aksiyon')
INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (2, N'Komedi')
INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (3, N'Fantezi')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kisiler] ON 

INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (1, N'Gayleen', N'McCotter')
INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (2, N'Owen', N'Vakhrushev')
INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (3, N'Dori', N'Treleaven')
GO
SET IDENTITY_INSERT [dbo].[Kisiler] OFF
GO
INSERT [dbo].[MenseiUlkeler] ([FilmId], [UlkeId]) VALUES (1, 9)
INSERT [dbo].[MenseiUlkeler] ([FilmId], [UlkeId]) VALUES (2, 1)
INSERT [dbo].[MenseiUlkeler] ([FilmId], [UlkeId]) VALUES (3, 17)
GO
INSERT [dbo].[SesDiller] ([FilmId], [DilId], [FilmSesUrl]) VALUES (1, 1, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[SesDiller] ([FilmId], [DilId], [FilmSesUrl]) VALUES (1, 2, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
INSERT [dbo].[SesDiller] ([FilmId], [DilId], [FilmSesUrl]) VALUES (1, 3, N'https://www.youtube.com/watch?v=PV9bM4ZYfjo')
GO
SET IDENTITY_INSERT [dbo].[Ulkeler] ON 

INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (1, N'ABD')
INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (2, N'Almanya')
INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (3, N'Arjantin')
SET IDENTITY_INSERT [dbo].[Ulkeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Unvanlar] ON 

INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (1, N'Oyunucu')
INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (2, N'Yonetmen')
INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (3, N'Senarist')
SET IDENTITY_INSERT [dbo].[Unvanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[YapimSirketleri] ON 

INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımSirketAdi]) VALUES (1, N'CSSFlix')
INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımSirketAdi]) VALUES (2, N'WB')
INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımSirketAdi]) VALUES (3, N'DreamWorks')
SET IDENTITY_INSERT [dbo].[YapimSirketleri] OFF
GO
INSERT [dbo].[YayinlananUlkelerFilmler] ([UlkelerId], [FilmId], [Durum]) VALUES (1, 1, 1)
INSERT [dbo].[YayinlananUlkelerFilmler] ([UlkelerId], [FilmId], [Durum]) VALUES (1, 2, 1)
INSERT [dbo].[YayinlananUlkelerFilmler] ([UlkelerId], [FilmId], [Durum]) VALUES (1, 3, 1)
GO
ALTER TABLE [dbo].[Filmler] ADD  CONSTRAINT [DF_Filmler_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[YayinlananUlkelerFilmler] ADD  CONSTRAINT [DF_YayinlananUlkelerFilmler_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[AltyaziDiller]  WITH CHECK ADD  CONSTRAINT [FK_AltyaziDiller_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[Diller] ([DilId])
GO
ALTER TABLE [dbo].[AltyaziDiller] CHECK CONSTRAINT [FK_AltyaziDiller_Diller]
GO
ALTER TABLE [dbo].[AltyaziDiller]  WITH CHECK ADD  CONSTRAINT [FK_AltyaziDiller_Filmler] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[AltyaziDiller] CHECK CONSTRAINT [FK_AltyaziDiller_Filmler]
GO
ALTER TABLE [dbo].[FilmKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_FimKategoriler_Filmler] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[FilmKategoriler] CHECK CONSTRAINT [FK_FimKategoriler_Filmler]
GO
ALTER TABLE [dbo].[FilmKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_FimKategoriler_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[FilmKategoriler] CHECK CONSTRAINT [FK_FimKategoriler_Kategoriler]
GO
ALTER TABLE [dbo].[FilmKisiler]  WITH CHECK ADD  CONSTRAINT [FK_FilmKisiler_Filmler] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[FilmKisiler] CHECK CONSTRAINT [FK_FilmKisiler_Filmler]
GO
ALTER TABLE [dbo].[FilmKisiler]  WITH CHECK ADD  CONSTRAINT [FK_FilmKisiler_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[FilmKisiler] CHECK CONSTRAINT [FK_FilmKisiler_Kisiler]
GO
ALTER TABLE [dbo].[FilmKisiler]  WITH CHECK ADD  CONSTRAINT [FK_FilmKisiler_Unvanlar] FOREIGN KEY([UnvanId])
REFERENCES [dbo].[Unvanlar] ([UnvanId])
GO
ALTER TABLE [dbo].[FilmKisiler] CHECK CONSTRAINT [FK_FilmKisiler_Unvanlar]
GO
ALTER TABLE [dbo].[FilmlerYapimSirketleri]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerYapımSirketleri_Filmler] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[FilmlerYapimSirketleri] CHECK CONSTRAINT [FK_FilmlerYapımSirketleri_Filmler]
GO
ALTER TABLE [dbo].[FilmlerYapimSirketleri]  WITH CHECK ADD  CONSTRAINT [FK_FilmlerYapımSirketleri_YapimSirketleri] FOREIGN KEY([YapimSirketiId])
REFERENCES [dbo].[YapimSirketleri] ([YapimSirketiId])
GO
ALTER TABLE [dbo].[FilmlerYapimSirketleri] CHECK CONSTRAINT [FK_FilmlerYapımSirketleri_YapimSirketleri]
GO
ALTER TABLE [dbo].[MenseiUlkeler]  WITH CHECK ADD  CONSTRAINT [FK_MenseiUlkeler_Filmler] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[MenseiUlkeler] CHECK CONSTRAINT [FK_MenseiUlkeler_Filmler]
GO
ALTER TABLE [dbo].[MenseiUlkeler]  WITH CHECK ADD  CONSTRAINT [FK_MenseiUlkeler_Ulkeler] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulkeler] ([UlkeId])
GO
ALTER TABLE [dbo].[MenseiUlkeler] CHECK CONSTRAINT [FK_MenseiUlkeler_Ulkeler]
GO
ALTER TABLE [dbo].[SesDiller]  WITH CHECK ADD  CONSTRAINT [FK_DublajDiller_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[Diller] ([DilId])
GO
ALTER TABLE [dbo].[SesDiller] CHECK CONSTRAINT [FK_DublajDiller_Diller]
GO
ALTER TABLE [dbo].[SesDiller]  WITH CHECK ADD  CONSTRAINT [FK_DublajDiller_Filmler] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[SesDiller] CHECK CONSTRAINT [FK_DublajDiller_Filmler]
GO
ALTER TABLE [dbo].[YayinlananUlkelerFilmler]  WITH CHECK ADD  CONSTRAINT [FK_YayinlananUlkelerFilmler_Filmler] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Filmler] ([FilmId])
GO
ALTER TABLE [dbo].[YayinlananUlkelerFilmler] CHECK CONSTRAINT [FK_YayinlananUlkelerFilmler_Filmler]
GO
ALTER TABLE [dbo].[YayinlananUlkelerFilmler]  WITH CHECK ADD  CONSTRAINT [FK_YayinlananUlkelerFilmler_Ulkeler] FOREIGN KEY([UlkelerId])
REFERENCES [dbo].[Ulkeler] ([UlkeId])
GO
ALTER TABLE [dbo].[YayinlananUlkelerFilmler] CHECK CONSTRAINT [FK_YayinlananUlkelerFilmler_Ulkeler]
GO
