USE [CSSFlixBelgeselDB22]
GO
/****** Object:  Table [dbo].[BelgeselBolumleri]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BelgeselBolumleri](
	[BelgeselBolumId] [int] IDENTITY(1,1) NOT NULL,
	[BelgeselId] [int] NOT NULL,
	[IlkYayinlanmaTarihi] [date] NOT NULL,
	[KacinciSezon] [tinyint] NULL,
	[KacinciBolum] [smallint] NULL,
	[BelgeselBolumAdi] [nvarchar](50) NOT NULL,
	[BelgeselBolumSuresi] [time](0) NOT NULL,
	[BelgeselBolumFragmaniUrl] [varchar](100) NOT NULL,
	[BelgeselBolumVideoUrl] [varchar](100) NOT NULL,
	[PlatformdaYayinlanmaTarihi] [date] NOT NULL,
	[PlatformdaKaldirilmaTarihi] [date] NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_BelgeselBolumleri] PRIMARY KEY CLUSTERED 
(
	[BelgeselBolumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BelgeselBolumleriKisiler]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BelgeselBolumleriKisiler](
	[BBKId] [int] IDENTITY(1,1) NOT NULL,
	[BelgeselBolumId] [int] NOT NULL,
	[KisiId] [int] NOT NULL,
	[UnvanId] [tinyint] NOT NULL,
 CONSTRAINT [PK_BelgeselBolumleriKisiler] PRIMARY KEY CLUSTERED 
(
	[BBKId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BelgeselBolumlerSesDiller]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BelgeselBolumlerSesDiller](
	[BelgeselBolumId] [int] NOT NULL,
	[DilId] [smallint] NOT NULL,
	[BelgeselSesUrl] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BelgeselBolumlerSesDiler] PRIMARY KEY CLUSTERED 
(
	[BelgeselBolumId] ASC,
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BelgeselKategoriler]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BelgeselKategoriler](
	[BelgeselId] [int] NOT NULL,
	[KategoriId] [tinyint] NOT NULL,
 CONSTRAINT [PK_BelgeselKategoriler] PRIMARY KEY CLUSTERED 
(
	[BelgeselId] ASC,
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Belgeseller]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Belgeseller](
	[BelgeselId] [int] IDENTITY(1,1) NOT NULL,
	[BelgeselAdi] [nvarchar](50) NOT NULL,
	[BelgeselOzeti] [nvarchar](200) NOT NULL,
	[BelgeselKapakResmiUrl] [varchar](100) NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_Belgeseller] PRIMARY KEY CLUSTERED 
(
	[BelgeselId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BelgeselYapimSirketleri]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BelgeselYapimSirketleri](
	[BelgeselId] [int] NOT NULL,
	[YapimSirketiId] [smallint] NOT NULL,
 CONSTRAINT [PK_BelgeselBolumYapimSirketleri] PRIMARY KEY CLUSTERED 
(
	[BelgeselId] ASC,
	[YapimSirketiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diller]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diller](
	[DilId] [smallint] IDENTITY(1,1) NOT NULL,
	[DilAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diller] PRIMARY KEY CLUSTERED 
(
	[DilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisiler]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisiler](
	[KisiId] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kisiler] PRIMARY KEY CLUSTERED 
(
	[KisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenseiUlkeler]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenseiUlkeler](
	[BelgeselId] [int] NOT NULL,
	[UlkeId] [tinyint] NOT NULL,
 CONSTRAINT [PK_MenseiUlkeler] PRIMARY KEY CLUSTERED 
(
	[BelgeselId] ASC,
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ulkeler]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulkeler](
	[UlkeId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UlkeAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ulkeler] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unvanlar]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unvanlar](
	[UnvanId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UnvanAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unvanlar] PRIMARY KEY CLUSTERED 
(
	[UnvanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YapimSirketleri]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YapimSirketleri](
	[YapimSirketiId] [smallint] IDENTITY(1,1) NOT NULL,
	[YapımŞirketAdi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_YapimSirketleri] PRIMARY KEY CLUSTERED 
(
	[YapimSirketiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YayinlananUlkelerBelgeselBolumleri]    Script Date: 22.03.2022 11:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YayinlananUlkelerBelgeselBolumleri](
	[BelgeselBolumId] [int] NOT NULL,
	[UlkeId] [tinyint] NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_YayinlananUlkelerDiziBolumleri] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC,
	[BelgeselBolumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BelgeselBolumleri] ON 

INSERT [dbo].[BelgeselBolumleri] ([BelgeselBolumId], [BelgeselId], [IlkYayinlanmaTarihi], [KacinciSezon], [KacinciBolum], [BelgeselBolumAdi], [BelgeselBolumSuresi], [BelgeselBolumFragmaniUrl], [BelgeselBolumVideoUrl], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (1, 1, CAST(N'2021-06-01' AS Date), 1, 1, N'Belgesel Bolumadi', CAST(N'02:00:00' AS Time), N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc', N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc', CAST(N'2022-02-19' AS Date), NULL, 1)
INSERT [dbo].[BelgeselBolumleri] ([BelgeselBolumId], [BelgeselId], [IlkYayinlanmaTarihi], [KacinciSezon], [KacinciBolum], [BelgeselBolumAdi], [BelgeselBolumSuresi], [BelgeselBolumFragmaniUrl], [BelgeselBolumVideoUrl], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (2, 2, CAST(N'2021-10-20' AS Date), 1, 1, N'Bolum Adi', CAST(N'01:00:00' AS Time), N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc', N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc', CAST(N'2022-03-01' AS Date), NULL, 1)
INSERT [dbo].[BelgeselBolumleri] ([BelgeselBolumId], [BelgeselId], [IlkYayinlanmaTarihi], [KacinciSezon], [KacinciBolum], [BelgeselBolumAdi], [BelgeselBolumSuresi], [BelgeselBolumFragmaniUrl], [BelgeselBolumVideoUrl], [PlatformdaYayinlanmaTarihi], [PlatformdaKaldirilmaTarihi], [Durum]) VALUES (3, 2, CAST(N'2021-09-13' AS Date), 1, 2, N'Bolum Adi', CAST(N'01:00:00' AS Time), N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc', N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc', CAST(N'2022-02-02' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[BelgeselBolumleri] OFF
GO
SET IDENTITY_INSERT [dbo].[BelgeselBolumleriKisiler] ON 

INSERT [dbo].[BelgeselBolumleriKisiler] ([BBKId], [BelgeselBolumId], [KisiId], [UnvanId]) VALUES (1, 1, 15, 1)
INSERT [dbo].[BelgeselBolumleriKisiler] ([BBKId], [BelgeselBolumId], [KisiId], [UnvanId]) VALUES (2, 1, 25, 1)
INSERT [dbo].[BelgeselBolumleriKisiler] ([BBKId], [BelgeselBolumId], [KisiId], [UnvanId]) VALUES (3, 1, 35, 1)
GO
SET IDENTITY_INSERT [dbo].[BelgeselBolumleriKisiler] OFF
GO
INSERT [dbo].[BelgeselBolumlerSesDiller] ([BelgeselBolumId], [DilId], [BelgeselSesUrl]) VALUES (1, 1, N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc')
INSERT [dbo].[BelgeselBolumlerSesDiller] ([BelgeselBolumId], [DilId], [BelgeselSesUrl]) VALUES (1, 2, N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc')
INSERT [dbo].[BelgeselBolumlerSesDiller] ([BelgeselBolumId], [DilId], [BelgeselSesUrl]) VALUES (1, 3, N'https://www.youtube.com/watch?v=ZsA9Hnmz9Oc')
GO
INSERT [dbo].[BelgeselKategoriler] ([BelgeselId], [KategoriId]) VALUES (1, 1)
INSERT [dbo].[BelgeselKategoriler] ([BelgeselId], [KategoriId]) VALUES (2, 1)
INSERT [dbo].[BelgeselKategoriler] ([BelgeselId], [KategoriId]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Belgeseller] ON 

INSERT [dbo].[Belgeseller] ([BelgeselId], [BelgeselAdi], [BelgeselOzeti], [BelgeselKapakResmiUrl], [Durum]) VALUES (1, N'Savannah''da Bir Gece', N'Belgesel Ozeti', N'https://www.youtube.com/watch?v=iDXgWKk3st4', 1)
INSERT [dbo].[Belgeseller] ([BelgeselId], [BelgeselAdi], [BelgeselOzeti], [BelgeselKapakResmiUrl], [Durum]) VALUES (2, N'Galaksiler', N'Belgesel Ozeti', N'https://www.youtube.com/watch?v=iDXgWKk3st4', 1)
INSERT [dbo].[Belgeseller] ([BelgeselId], [BelgeselAdi], [BelgeselOzeti], [BelgeselKapakResmiUrl], [Durum]) VALUES (3, N'Olay Mahali', N'Belgesel Ozeti', N'https://www.youtube.com/watch?v=iDXgWKk3st4', 1)
SET IDENTITY_INSERT [dbo].[Belgeseller] OFF
GO
INSERT [dbo].[BelgeselYapimSirketleri] ([BelgeselId], [YapimSirketiId]) VALUES (1, 3)
INSERT [dbo].[BelgeselYapimSirketleri] ([BelgeselId], [YapimSirketiId]) VALUES (1, 4)
INSERT [dbo].[BelgeselYapimSirketleri] ([BelgeselId], [YapimSirketiId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Diller] ON 

INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (1, N'English (USA)')
INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (2, N'Deutsch')
INSERT [dbo].[Diller] ([DilId], [DilAdi]) VALUES (3, N'España (ARJ)')
SET IDENTITY_INSERT [dbo].[Diller] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (1, N'Tabiat')
INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (2, N'Suc')
INSERT [dbo].[Kategoriler] ([KategoriId], [Adi]) VALUES (3, N'Drama')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kisiler] ON 

INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (1, N'Gayleen', N'McCotter')
INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (2, N'Owen', N'Vakhrushev')
INSERT [dbo].[Kisiler] ([KisiId], [Adi], [Soyadi]) VALUES (3, N'Dori', N'Treleaven')
GO
SET IDENTITY_INSERT [dbo].[Kisiler] OFF
GO
INSERT [dbo].[MenseiUlkeler] ([BelgeselId], [UlkeId]) VALUES (1, 1)
INSERT [dbo].[MenseiUlkeler] ([BelgeselId], [UlkeId]) VALUES (1, 5)
INSERT [dbo].[MenseiUlkeler] ([BelgeselId], [UlkeId]) VALUES (2, 15)
GO
SET IDENTITY_INSERT [dbo].[Ulkeler] ON 

INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (1, N'ABD')
INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (2, N'Almanya')
INSERT [dbo].[Ulkeler] ([UlkeId], [UlkeAdi]) VALUES (3, N'Arjantin')
SET IDENTITY_INSERT [dbo].[Ulkeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Unvanlar] ON 

INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (1, N'Danisman')
INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (2, N'Yonetmen')
INSERT [dbo].[Unvanlar] ([UnvanId], [UnvanAdi]) VALUES (3, N'Kurgu')
SET IDENTITY_INSERT [dbo].[Unvanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[YapimSirketleri] ON 

INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımŞirketAdi]) VALUES (1, N'CSSFlix')
INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımŞirketAdi]) VALUES (2, N'WB')
INSERT [dbo].[YapimSirketleri] ([YapimSirketiId], [YapımŞirketAdi]) VALUES (3, N'DreamWorks')
SET IDENTITY_INSERT [dbo].[YapimSirketleri] OFF
GO
INSERT [dbo].[YayinlananUlkelerBelgeselBolumleri] ([BelgeselBolumId], [UlkeId], [Durum]) VALUES (1, 1, 1)
INSERT [dbo].[YayinlananUlkelerBelgeselBolumleri] ([BelgeselBolumId], [UlkeId], [Durum]) VALUES (2, 1, 1)
INSERT [dbo].[YayinlananUlkelerBelgeselBolumleri] ([BelgeselBolumId], [UlkeId], [Durum]) VALUES (3, 1, 1)
GO
ALTER TABLE [dbo].[BelgeselBolumleri] ADD  CONSTRAINT [DF_BelgeselBolumleri_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[Belgeseller] ADD  CONSTRAINT [DF_Belgeseller_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[YayinlananUlkelerBelgeselBolumleri] ADD  CONSTRAINT [DF_YayinlananUlkelerBelgeselBolumleri_Durum]  DEFAULT ((1)) FOR [Durum]
GO
ALTER TABLE [dbo].[BelgeselBolumleri]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumleri_Belgeseller] FOREIGN KEY([BelgeselId])
REFERENCES [dbo].[Belgeseller] ([BelgeselId])
GO
ALTER TABLE [dbo].[BelgeselBolumleri] CHECK CONSTRAINT [FK_BelgeselBolumleri_Belgeseller]
GO
ALTER TABLE [dbo].[BelgeselBolumleriKisiler]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumleriKisiler_BelgeselBolumleri] FOREIGN KEY([BelgeselBolumId])
REFERENCES [dbo].[BelgeselBolumleri] ([BelgeselBolumId])
GO
ALTER TABLE [dbo].[BelgeselBolumleriKisiler] CHECK CONSTRAINT [FK_BelgeselBolumleriKisiler_BelgeselBolumleri]
GO
ALTER TABLE [dbo].[BelgeselBolumleriKisiler]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumleriKisiler_Kisiler] FOREIGN KEY([KisiId])
REFERENCES [dbo].[Kisiler] ([KisiId])
GO
ALTER TABLE [dbo].[BelgeselBolumleriKisiler] CHECK CONSTRAINT [FK_BelgeselBolumleriKisiler_Kisiler]
GO
ALTER TABLE [dbo].[BelgeselBolumleriKisiler]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumleriKisiler_Unvanlar] FOREIGN KEY([UnvanId])
REFERENCES [dbo].[Unvanlar] ([UnvanId])
GO
ALTER TABLE [dbo].[BelgeselBolumleriKisiler] CHECK CONSTRAINT [FK_BelgeselBolumleriKisiler_Unvanlar]
GO
ALTER TABLE [dbo].[BelgeselBolumlerSesDiller]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumlerSesDiler_BelgeselBolumleri] FOREIGN KEY([BelgeselBolumId])
REFERENCES [dbo].[BelgeselBolumleri] ([BelgeselBolumId])
GO
ALTER TABLE [dbo].[BelgeselBolumlerSesDiller] CHECK CONSTRAINT [FK_BelgeselBolumlerSesDiler_BelgeselBolumleri]
GO
ALTER TABLE [dbo].[BelgeselBolumlerSesDiller]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumlerSesDiler_Diller] FOREIGN KEY([DilId])
REFERENCES [dbo].[Diller] ([DilId])
GO
ALTER TABLE [dbo].[BelgeselBolumlerSesDiller] CHECK CONSTRAINT [FK_BelgeselBolumlerSesDiler_Diller]
GO
ALTER TABLE [dbo].[BelgeselKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselKategoriler_Belgeseller] FOREIGN KEY([BelgeselId])
REFERENCES [dbo].[Belgeseller] ([BelgeselId])
GO
ALTER TABLE [dbo].[BelgeselKategoriler] CHECK CONSTRAINT [FK_BelgeselKategoriler_Belgeseller]
GO
ALTER TABLE [dbo].[BelgeselKategoriler]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselKategoriler_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[BelgeselKategoriler] CHECK CONSTRAINT [FK_BelgeselKategoriler_Kategoriler]
GO
ALTER TABLE [dbo].[BelgeselYapimSirketleri]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselBolumYapimSirketleri_YapimSirketleri] FOREIGN KEY([YapimSirketiId])
REFERENCES [dbo].[YapimSirketleri] ([YapimSirketiId])
GO
ALTER TABLE [dbo].[BelgeselYapimSirketleri] CHECK CONSTRAINT [FK_BelgeselBolumYapimSirketleri_YapimSirketleri]
GO
ALTER TABLE [dbo].[BelgeselYapimSirketleri]  WITH CHECK ADD  CONSTRAINT [FK_BelgeselYapimSirketleri_Belgeseller] FOREIGN KEY([BelgeselId])
REFERENCES [dbo].[Belgeseller] ([BelgeselId])
GO
ALTER TABLE [dbo].[BelgeselYapimSirketleri] CHECK CONSTRAINT [FK_BelgeselYapimSirketleri_Belgeseller]
GO
ALTER TABLE [dbo].[MenseiUlkeler]  WITH CHECK ADD  CONSTRAINT [FK_MenseiUlkeler_Belgeseller] FOREIGN KEY([BelgeselId])
REFERENCES [dbo].[Belgeseller] ([BelgeselId])
GO
ALTER TABLE [dbo].[MenseiUlkeler] CHECK CONSTRAINT [FK_MenseiUlkeler_Belgeseller]
GO
ALTER TABLE [dbo].[MenseiUlkeler]  WITH CHECK ADD  CONSTRAINT [FK_MenseiUlkeler_Ulkeler] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulkeler] ([UlkeId])
GO
ALTER TABLE [dbo].[MenseiUlkeler] CHECK CONSTRAINT [FK_MenseiUlkeler_Ulkeler]
GO
ALTER TABLE [dbo].[YayinlananUlkelerBelgeselBolumleri]  WITH CHECK ADD  CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_BelgeselBolumleri] FOREIGN KEY([BelgeselBolumId])
REFERENCES [dbo].[BelgeselBolumleri] ([BelgeselBolumId])
GO
ALTER TABLE [dbo].[YayinlananUlkelerBelgeselBolumleri] CHECK CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_BelgeselBolumleri]
GO
ALTER TABLE [dbo].[YayinlananUlkelerBelgeselBolumleri]  WITH CHECK ADD  CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_Ulkeler] FOREIGN KEY([UlkeId])
REFERENCES [dbo].[Ulkeler] ([UlkeId])
GO
ALTER TABLE [dbo].[YayinlananUlkelerBelgeselBolumleri] CHECK CONSTRAINT [FK_YayinlananUlkelerDiziBolumleri_Ulkeler]
GO
